/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 22, 2015, 5:18:17 PM
    Author     : swapnika
*/

html {
    height: 100%;
    margin: 0px;
    width: 100%;
    font-family: arial;
}
/*head{height: 100%;}*/

body {
    height: 100%;
    margin: 0px;
    width: 100%;
    overflow: scroll;
}
.site_header {
    width: 100%;
    height: 12%;
    top: 0px;
    background-color: #EBF1DE;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact {
    position: fixed;
    top: 12%;
    background-color: #D9D9D9;
    width: 10em;
    height: 3em;
    text-align: center;
}
.recommend {
    position: fixed;
    top: 12%;
    background-color: #D9D9D9;
    width: 20em;
    height: 3em;
    text-align: center;
}
.clink {
    position: absolute;
    top: 25%;
    left: 3%;
}

#clink1 {
    position: absolute;
    top: 25%;
    left: 3%;
}
.site_left_menu {
    height: 70%;
    width: 18%;
    top: 18%;
    background-color: #DBEEF4;
    position: fixed;
    margin-left: 2%;
    margin-right: 2%;
    border-style: solid;
    border-width: 2px;
    border-color: #9CBEDB;
    text-align: center;
}
.site_content {
    position: fixed;
    width: 72%;
    top: 18%;
    height: 70%;
    text-align: center;
    margin-left: 25%;
    margin-right: 80%;
    //border-style: solid;
    //border-width: 2px;
    //border-color: #3D618D;
}
.studies {
    position: fixed;
    width: 72%;
    top: 25%;
    height: 70%;
    text-align: center;
    margin-left: 25%;
    margin-right: 80%;
    overflow:scroll;
    //border-style: solid;
    //border-width: 2px;
    //border-color: #3D618D;
}
.site_footer {
    width: 100%;
    height: 50px;
    bottom: 0px;
    background-color: #C0504D;
    position: fixed;
}
#title {
    color: #00BA7C;
    font-size: 2.4em;
    margin-left: 5%;
    margin-top: 2%;
    font-weight: bold;
}
#footer_text {
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 5px;
}
.about {
    right: 50px;
    top: 18px;
    position: fixed;
    display: inline;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#about {
    display: inline;
    color: black;
    font-size: 1.5em;
    margin-top: 2%;
    position: fixed;
    right: 480px;
}
#how {
    display: inline;
    color: black;
    font-size: 1.5em;
    margin-top: 2%;
    position: fixed;
    right: 320px;
}
#login {
    display: inline;
    color: black;
    font-size: 1.5em;
    margin-top: 2%;
    position: fixed;
    right: 80px;
}
.menu_item {
    width: 100%;
    height: 9.8%;
    border-bottom: 2px #9CBEDB;
    border-top-style: hidden;
    border-right-style: hidden;
    border-bottom-style: solid;
    border-left-style: hidden;
    color: black;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    float: left;
}
.menu_item2 {
    width: 100%;
    height: 9.8%;
    border-bottom: 2px #9CBEDB;
    border-top-style: hidden;
    border-right-style: hidden;
    border-bottom-style: hidden;
    border-left-style: hidden;
    color: black;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    float: left;
}
.site_content_home {
    height: 100%;
    width: 100%;
    background-image: url("../media/homewomen.PNG");
    background-repeat: no-repeat;
    background-position: center;
}
.site_content_login,
.site_content_signup {
    width: 100%;
    height: 100%;
    margin-top: 14%;
    text-align: center;
}
#signup {
    text-align: right;
    padding-left: 2em;
}
.site_content_how,
.site_content_main,
.site_content_about {
    position: fixed;
    width: 50%;
    top: 18%;
    height: 45%;
    border-style: solid;
    border-width: 2px;
    border-color: #3D618D;
    margin-left: 25%;
    padding-left: 1em;
    display: inline-block;
    text-align: left;
    background-color: white;
}
form {
    display: inline-block;
    text-align: center;
    margin-left: 0%;
}
label {
    width: 10em;
    padding-right: 1em;
    float: left;
    font-size: 1.5em;
    display: inline-block;
    text-align: right;
}
input[type="text"],
[type="password"] {
    /* An attribute selector */
    
    float: left;
    width: 25em;
    height: 3em;
    margin-bottom: .5em;
    font-size: 1em;
    border: solid 1px #4F81BD;
}
textarea {
    float: left;
    width: 30.5em;
    height: 10em;
    margin-bottom: .5em;
    font-size: 1em;
    border: solid 1px #4F81BD;
}
input[type="submit"] {
    /* An attribute selector */
    
    margin-bottom: 2em;
    width: 5.7em;
    height: 2em;
    color: white;
    font-size: 150%;
    background-color: #4F81BD;
    border: 1px solid #385D8A;
}
input[type="button"] {
    /* An attribute selector */
    
   margin-bottom: 2em;
    width: 8em;
    height: 3em;
    color: white;
    font-size: 110%;
    background-color: #4F81BD;
    border: 1px solid #385D8A;
}
input[type="submit1"] {
    /* An attribute selector */
    
    margin-bottom: 2em;
    width: 4em;
    height: 1.5em;
    color: white;
    font-size: 100%;
    background-color: #909090;
    border: 1px solid #303030;
}
#signup_submit {
    margin-bottom: 2em;
    width: 8em;
    height: 3em;
    color: white;
    font-size: 110%;
    background-color: #4F81BD;
    border: 1px solid #385D8A;
}
a:link {
    color: #4F81BD;
    text-decoration: none;
}
a:visited {
    color: #4F81BD;
    text-decoration: none;
}
a:hover {
    background-color: lightblue;
    text-decoration: none;
}
table,
td,
th {
    border: 1px white;
    text-align: center;
        vertical-align: inherit;

    
}


th {
    background-color: #303030;
    color: white;
}
table{
    height: 80%;
    width: 80%;
    
}
.treven{
        background-color: #d0d0d0;

}
.trodd{
        background-color: #f0f0f0;

    
}
button{
    color: white;
    background-color: #4F81BD;
    width: 80%;
    height:60%;
}
